/*

1. Add your custom Css styles below
2. Place the this code in your template:

<link href="css/custom.css" rel="stylesheet">

*/

.footer-link nav {
    display: inline-block;
}

.footer-link ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.footer-link ul li {
    display: inline-block;
    padding: 0px 30px;
}

.footer-link li a {
    color: white !important;
}

.client-logo nav {
    display: inline-block;
    padding: 0px 0px;
}

.client-logo ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.client-logo ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: small;
}

.client-logo li a {
    color: white !important;
}

.client-logo-size {
    width: 75% !important;
}

.client-logo-grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
}

.client-logo-grayscale:hover {
    filter: grayscale(0%);
    filter: invert(0);
    opacity: 5;
    box-shadow: 0px 18px 22px -15px rgba(0, 0, 0, 0.3);
}

.logo-grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
}

.logo-grayscale:hover {
    filter: grayscale(0%);
    filter: invert(0);
    opacity: 5;
    box-shadow: 0px 18px 22px -15px rgba(0, 0, 0, 0.3);
}

.social_menu {
    padding: 0 15px;
}

#iconMenu-trigger {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    height: 80px;
    z-index: 1;
    float: right;
}

@media (max-width: 1024px) {
    #iconMenu-trigger {
        position: relative;
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (max-width: 768px) {
    .client-logo ul li {
        padding: 0 20px;
    }

    .inspiro-slider .slide .slide-captions {
        text-align: left;
    }

    .button--aylen.button--inverted {
        margin-left: 0;
    }
}

.top-link {
    display: inline-block;
}

.top-link ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.top-link ul li {
    display: inline-block;
    padding: 0px 30px 30px;
}

.top-link ul li {
    color: white !important;
}

.footer-sosmed {
    padding: 15px 0 0px 0;
}

.copyright-footer {
    min-height: 80px;
    padding: 60px 0px 30px 0px;
    font-size: 13px;
}

.container-client {
    padding: 35px 30px;
}

.in-touch {
    display: -ms-flexbox;
    line-height: 0.2;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 120px;
    padding: 50px 0px 0px 0px;
}

.form-birh {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 100px 0px 0px 0px;
}

* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    /* background-color: #25252A; */
}

.container-color {
    /* display: flex;
flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
}

.btn-menu {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    color: white;
    margin-left: 50px;
    overflow: hidden;
    background: linear-gradient(to right, #00ABF3, #00ABF3 50%, white 50%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

.btn-menu:hover {
    background-position: 0 100%;
}

/* .mainMenu-drop {
min-height: 270px;
} */

.menu-link {
    color: white !important;
}

.carousel-client-logos-margin {
    margin-right: 5px;
    margin-left: 5px;
}

.sosial-media nav {
    display: inline-block;
    padding: 50px 50px;
    margin-inline: 0px;
    margin-left: 50px;
}

.sosial-media ul {
    margin-bottom: 0;
    margin-left: 230px;
    padding: 0;
    list-style: none;
}

.sosial-media ul li {
    display: inline-block;
    padding: 30px 25px;
    font-size: small;
}

.inspiro-slider.arrows-dark .flickity-button:hover,
.carousel.arrows-dark .flickity-button:hover {
    background-color: #00ABF3 !important;
}

.flickity-button:hover {
    background-color: #00ABF3 !important;
}

* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    /* background-color: #25252A; */
}

.container-color {
    /* display: flex;
flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
}

.btn-wacth-video {
    width: 180px;
    height: 40px;
    padding: 10px 15px;
    border-radius: 0px;
    border: 0.1px solid white;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-in-out 0.5s;
    font-size: 1rem;
    outline: none;
    text-align: center;
    line-height: 1.0em;
    margin: 10px 0 20px;
    /* border-style: solid;
border-color: white; */
}

.btn-wacth-video:hover {
    box-shadow: inset 300px 0 0 0 #00ABF3;
    cursor: pointer;
}

/* Box colors */

.bg-1 {
    background: none;
    color: white;
}

.bg-2 {
    background: #7986cb;
    color: #ECEFF1;
}

.bg-3 {
    background: #37474f;
    color: #fff;
}

.bg-4 {
    color: #ECEFF1;
}

/* Common button styles */

.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button-radius {
    float: left;
    width: 100%;
    height: 40px;
    display: block;
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button-radius-carrer {
    float: left;
    width: 100%;
    height: 40px;
    display: block;
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button-radius-culture {
    float: left;
    width: 100%;
    height: 40px;
    display: block;
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.button:focus {
    outline: none;
}

.button > span {
    vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */

.bg-1 .button {
    color: #00ABF3;
    border-color: white;
}

.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}

.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

.bg-4 .button {
    border-color: #ECEFF1;
}

/* Sizes */

.button--size-s {
    font-size: 14px;
}

.button--size-m {
    font-size: 16px;
}

.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */

.button--text-upper {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button--text-thin {
    font-weight: 300;
}

.button--text-medium {
    font-weight: 500;
}

.button--text-thick {
    font-weight: 600;
}

.button--round-s {
    border-radius: 5px;
}

.button--round-m {
    border-radius: 15px;
}

.button--round-l {
    border-radius: 40px;
}

/* Borders */

.button--border-thin {
    border: 1px solid;
}

.button--border-medium {
    border: 2px solid;
}

.button--border-thick {
    border: 3px solid;
}

/* Aylen */

.button.button--aylen {
    background: #fff;
    color: #00ABF3;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.button--aylen.button--inverted {
    background: none;
    color: #fff;
}

.button--aylen::before,
.button--aylen::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
    background: #0188c2;
}

.button--aylen::after {
    background: #00ABF3;
}

.button--aylen:hover {
    color: #fff;
}

.button--aylen:hover::before,
.button--aylen:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
}

/* Nina */

.button--nina {
    padding: 0;
    background: #000000;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button--nina.button--inverted {
    background: #fff;
    color: #7986cb;
}

.button--nina > span {
    display: inline-block;
    padding: 1.3em 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--nina::before {
    content: attr(data-text);
    /* content: url('../animotion/Button_next-19-row.png'); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.3em 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--nina:hover {
    background-color: #00ABF3;
}

.button--nina:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.button--nina:hover > span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--nina:hover > span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}

.button--nina:hover > span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.button--nina:hover > span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s;
}

.button--nina:hover > span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}

.button--nina:hover > span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s;
}

.button--nina:hover > span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
}

.button--nina:hover > span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s;
}

.button--nina:hover > span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s;
}

.button--nina:hover > span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s;
}

.button--nina:hover > span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

/* Nanuk */

.button--nanuk {
    padding: 0;
    overflow: hidden;
    background: #000000;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button--nanuk.button--inverted {
    background: #fff;
    color: #ffffff;
}

.button--nanuk > span {
    display: inline-block;
    padding: 0;
}

.button--nanuk:hover {
    background-color: #00ABF3;
}

.button--nanuk:hover > span:nth-child(odd) {
    -webkit-animation: anim-nanuk-1 0.5s forwards;
    animation: anim-nanuk-1 0.5s forwards;
}

.button--nanuk:hover > span:nth-child(even) {
    -webkit-animation: anim-nanuk-2 0.5s forwards;
    animation: anim-nanuk-2 0.5s forwards;
}

.button--nanuk:hover > span:nth-child(odd),
.button--nanuk:hover > span:nth-child(even) {
    -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1);
}

@-webkit-keyframes anim-nanuk-1 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@keyframes anim-nanuk-1 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@-webkit-keyframes anim-nanuk-2 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

@keyframes anim-nanuk-2 {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    49% {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        color: inherit;
    }
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: #fff;
    }
    100% {
        color: #fff;
    }
}

.button--nanuk:hover > span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.button--nanuk:hover > span:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.button--nanuk:hover > span:nth-child(3) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.button--nanuk:hover > span:nth-child(4) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.button--nanuk:hover > span:nth-child(5) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.button--nanuk:hover > span:nth-child(6) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.button--nanuk:hover > span:nth-child(7) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.button--nanuk:hover > span:nth-child(8) {
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

.button--nanuk:hover > span:nth-child(9) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.button--nanuk:hover > span:nth-child(10) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

.button--nanuk:hover > span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

/* Saqui */

.button.button--saqui {
    overflow: hidden;
    color: #fff;
    background: #37474f;
    -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.button--saqui.button--inverted {
    background: #fff;
    color: #37474f;
}

.button--saqui::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 2em;
    color: #37474f;
    -webkit-transform-origin: -25% 50%;
    transform-origin: -25% 50%;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
}

.button--saqui.button--inverted::after {
    color: #fff;
}

.button--saqui:hover::after,
.button--saqui:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button--saqui:hover {
    background-color: #7986cb;
    color: #7986cb;
}

.button--saqui.button--inverted:hover {
    background-color: #3f51b5;
    color: #3f51b5;
}

.button--saqui:hover::after {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
    margin-left: 15px !important;
}

.lead-text {
    font-size: 10px;
    font-weight: 300;
}

.img-fluid-right {
    max-width: 100%;
    height: auto;
    margin-left: 50px;
}

.img-fluid-left {
    max-width: 100%;
    height: auto;
    margin-right: 50px;
}

.m-b-30 {
    margin-bottom: 100px !important;
